*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 24px grey;
}

.nav-items{
    list-style: none;
    display: flex;
    font-size: 24px;
}

.nav-items > li{
    padding: 10px;
}

.nav-logo{
    width: 60px;
}

.content-title{
    font-size: 36px;
    padding: 0 0 20px 20px;
}

.content-list{
    font-size: 24px;
    padding: 0 0 0 80px;
}

.footer{
    background-color: gray;
    color: white;
    padding: 10px 0 10px 10px;
}
